@mixin button {
    border-radius: 4px;
    border: none;
    outline: none;
    text-transform: uppercase;
    padding: 10px 15px;
    font-weight: 400;
    letter-spacing: 1.5px;
    cursor: pointer;
}

@mixin close-button {
    align-self: flex-end;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;

    span {
        &::before {
            content: '\00d7';
            color: $white;
        }
    }
}

@mixin overflow-ellipsis {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 6px;
}
